<div class="card">
    <h2>Create a new Question</h2>
    <form [formGroup]="questionForm" class="question-form">
        <label for="label">
            Label <br>
            <input [formControlName]="'label'" class="input-custom" id="label" type="text">
        </label>
        <br>

        <button (click)="addAnswer()" class="button-card">Add Answer</button>
        <div class="answer" formArrayName="answers">
            <div *ngFor="let answer of answers.controls; let i=index">
                <div [formGroupName]="i" class="answer-form">
                    <label for="valueQuestion">
                        Answer
                        <input [formControlName]="'value'" id="valueQuestion" type="text">
                    </label>
                    <br>
                    <label for="isCorrect">
                        Correct
                        <input [formControlName]="'isCorrect'" id="isCorrect" type="checkbox">
                    </label>
                </div>
            </div>
        </div>
        <br>
        <button (click)="addQuestionToQuiz()" class="button-card" type="submit">Create</button>
    </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
