<div>
    <div class="epsilon container d-flex justify-content-center">
        <button (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" [ngClass]="user.highContrast ? 'btn-yellowcontrast' : 'btn-yellow'"
                aria-controls="collapseExample" class="btn" id="filters"
                type="button">
            Filtres
        </button>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <form [formGroup]="choisirQuizForm" class="choisirquiz-form flex-row d-flex col">
            <p class="col">
                <label for="theme">
                    Thème<br>
                    <select (change)="changeDisplay()" [formControlName]="'theme'" id="theme">
                        <option value="Peu importe">Peu importe</option>
                        <option *ngFor="let c of listThemes" [ngValue]="c.name">{{ c.name }}</option>
                    </select>
                </label>
            </p>
            <p class="col">
                <label for="dejafait">
                    Quiz déjà fait ?<br>
                    <select (change)="changeDisplay()" [formControlName]="'dejafait'" id="dejafait">
                        <option *ngFor="let c of listdejafait" [ngValue]="c">{{c}}</option>
                    </select>
                </label>
            </p>
            <p class="col">
                <label for="difficulte">
                    Difficulté:<br>
                    <select (change)="changeDisplay()" [formControlName]="'difficulte'" id="difficulte">
                        <option *ngFor="let c of listdifficulte;let i=index" [ngValue]="i">{{c}}</option>
                    </select>
                </label>
            </p>
            <p class="col">
                <label for="nbquestions">
                    Nombre de questions:<br>
                    <select (change)="changeDisplay()" [formControlName]="'nbquestions'" id="nbquestions">
                        <option *ngFor="let c of listnbquestions" [ngValue]="c">{{c}}</option>
                    </select>
                </label>
            </p>
            <p class="col">
                <label for="trierauhasard">
                    <input (change)="changeDisplay()" [formControlName]="'trierauhasard'" class="input-custom" id="trierauhasard"
                           type="checkbox">
                    Trier au hasard ?
                </label>
            </p>
        </form>
    </div>
</div>
<hr/>
<div class="choisirquiz container flex-row d-flex col">

    <div *ngFor="let quiz of quizListDisplayed" class="container card col">

        <legend>{{quiz.name}}</legend>
        <div>{{quiz.questionCount}} questions</div>
        <div>Difficulté {{quiz.difficulty}}</div>
        {{quiz.theme.name}}
        <div class="epsilon d-flex justify-content-center flex-column">
            <button [ngClass]="user.highContrast ? 'btn-bluecontrast' : 'btn-bluejoel'" class="btn"
                    routerLink="/play/{{quiz.id}}">Faire le quiz
            </button>
            <button *ngIf="user.role !== 1" [ngClass]="user.highContrast ? 'btn-yellowcontrast' : 'btn-yellow'"
                    class="btn">Modifier
            </button>
        </div>


    </div>
</div>
