<div class="edit-quiz">
    <h1>EDIT</h1>

    <div class="card">
        <h2>Edit quiz</h2>
        <form [formGroup]="quizForm" class="quiz-edit">
            <label for="name">
                Title <br>
                <input [formControlName]="'name'" class="input-custom" id="name" type="text">
            </label>
            <br>
            <label for="theme">
                Theme <br>
                <!--      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">-->
                <select [formControlName]="'theme'" class="input-custom" id="theme" name="theme-field">
                    <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
                        {{currentTheme}}
                    </option>
                </select>
            </label>
            <br>
            <button (click)="updateQuiz()" class="button-card" type="submit">Save</button>
        </form>
    </div>

    <nav>
        <a routerLink="">Home</a>
    </nav>
</div>

