<div class="card">
    <h2>Create a new User</h2>
    <form [formGroup]="userForm" class="user-form">
        <label for="name">
            Title <br>
            <input [formControlName]="'name'" class="input-custom" id="name" type="text">
        </label>
        <br>
        <br>
        <button (click)="addUser()" class="button-card" type="submit">Create</button>
    </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
