<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
<div class="container">

    <div id="mainplayingcard" class="card col-12 align-content-center flex-column px-0 mt-5">
        <div id="playingheader" class="justify-content-between flex-row d-flex">
            <div>
                <span>{{quizname}}</span>
            </div>
            <div>
                <span>Question {{numquestion}} sur {{questionCount}}</span>
            </div>
            <div class="Stars">
            </div>
        </div>
        <div id="playingcard" class="justify-content-between flex-row d-flex row">
            <div id="playingquestion" class="container col d-flex align-items-center justify-content-center">
                {{questionlabel}}
            </div>
            <img *ngIf="urlImage != null" [src]="urlImage" />
            <div class="epsilon container col">
                <div id="playinganswer" class="p-3">
                    <button class="btn btn-azure" *ngFor="let answer of answersDisplayed; let i=index;" [disabled]="!firstStage && i != correctAnswer" (click)="reponseCliquee(i)">
                        {{answer}}
                    </button>
                </div>
            </div>

        </div>
        <div>
            {{displayedMessage}}
        </div>
    </div>
</div>
</body>
</html>
