

#mainplayingcard {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

#mainplayingcard >* {
  margin:1px;
}

#playingheader {
}

#playingcard {
  display:flex;
  flex-direction: row;
}

#playingquestion {
}

#playinganswer {
}

$btn-bkg: #3f51b5;

.answerbutton {
  background-color: $btn-bkg;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  border: solid 1px $btn-bkg;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
}

.answerbutton:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.answerbutton:active {
  cursor: pointer;
  background:
          linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4)),
          radial-gradient(lighten($btn-bkg, 20%), transparent 70%);
  background-color: $btn-bkg;
}

//essayer d'ajouter cet effet par dessus :
//https://stackoverflow.com/questions/9649706/css3-box-shadow-linear-gradient
