#mainplayingcard {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

#playingheader {
  //try this :
  //https://css-tricks.com/restricting-a-pseudo-element-to-its-parents-border-box/
  background: linear-gradient(to bottom, #fef086, #fde635);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.4em 1em;
  width: 100%;
}

#playingcard {
  display:flex;
  flex-direction: row;
}

#playingquestion {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: x-large;
}

#playinganswer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 0.6em;
  grid-column-gap: 0.6em;
  grid-auto-rows: 1fr;
}

#playinganswer .btn {
  width: 100%;
  height: 100%;
  margin: 0;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.6em;
}

#playinganswer td {
  height: 100%;
}

$percent: calc(var(--rating) / 5 * 100%);
$starsize: 300px;
$starcolor: #9d9b9b;
$starback:black;

//https://css-tricks.com/five-methods-for-five-star-ratings/
.Stars {

  display: inline-block;
  font-size: var($starsize);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, $starback $percent, $starcolor $percent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

$btn-bkg: #7777ff;

.answerbutton {
  background-color: $btn-bkg;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
  //border: solid 1px $btn-bkg;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-shadow: black;
  padding: 0.5em 1em;
  transition: all 0.5s ease;
}

.answerbutton:hover {
  cursor: pointer;
  filter: brightness(1.3);
  transition: all 0.1s ease;
}

.answerbutton:active {
  cursor: pointer;
  filter: brightness(1.3);
  background:
          radial-gradient(lighten($btn-bkg, 5%), transparent 70%);
  background-color: $btn-bkg;
}

//essayer d'ajouter cet effet par dessus :
//https://stackoverflow.com/questions/9649706/css3-box-shadow-linear-gradient
