<div class="my-0 mx-auto " style="width: 80%; height: 70%;">

    <div *ngIf="!quizTermine" class="card col-12 align-content-center flex-column px-0 mt-5 border-0 "
         id="mainplayingcard">
        <div [ngClass]="user.highContrast ? 'headercontrast' : 'headernocontrast'" class="justify-content-between flex-row d-flex"
             id="playingheader">
            <div>
                <span>{{quizname}}</span>
            </div>
            <div>
                <span>Question {{numquestion + 1}} sur {{questionCount}}</span>
            </div>
            <div class="Stars">
            </div>
        </div>
        <div class="justify-content-between flex-row d-flex p-3 w-100 h-100" id="playingcard">
            <div class="questioncontainer ml-3 flex-column d-flex justify-content-center w-50">
                <span class="d-flex justify-content-center" id="playingquestion">
                    {{questionlabel}}
                </span>
                <div class="d-flex justify-content-center" id="questionPicture">
                    <img *ngIf="urlImage != null" [src]="urlImage" alt="Image relative à la question"/>
                </div>
            </div>

            <div class="d-flex ml-3 justify-content-center w-50">
                <div class="d-flex flex-row flex-wrap epsilon justify-content-center" id="playinganswer">
                    <button (click)="reponseCliquee(i)" *ngFor="let answer of answersDisplayed; let i=index;"
                            [disabled]="(!firstStage || (trainMode && !displayedInTrainMode[i])) && i != correctAnswer"
                            [ngClass]="user.highContrast ? 'btn-bluecontrast' : 'btn-bluejoel'"
                            class="btn">
                        {{answer}}
                    </button>
                </div>
            </div>

        </div>
        <div class="ml-3 pl-3 pb-3 mb-3 text-center">
            {{displayedMessage}}
        </div>
    </div>

    <div *ngIf="quizTermine" class="d-flex justify-content-center flex-column col px-0 mt-5 h-100"
         id="quiztermineplayingcard">
        <div class="justify-content-center d-flex ml-3" id="playingtermineheader">
            Quiz terminé !
        </div>
        <div class="d-flex justify-content-center mt-5" id="buttonsquiztermine">
            <div class="epsilon w-50">

                <button (click)="goToTrain()" [ngClass]="user.highContrast ? 'btn-bluecontrast' : 'btn-bluejoel'"
                        class="btn btn-md col">S'entraîner
                </button>
                <button [ngClass]="user.highContrast ? 'btn-bluecontrast' : 'btn-bluejoel'" class="btn btn-md col "
                        routerLink="/choisirquiz">Faire un autre quiz
                </button>
                <button [ngClass]="user.highContrast ? 'btn-bluecontrast' : 'btn-bluejoel'" class="btn btn-md col "
                        routerLink="/">Retour à l'accueil
                </button>
            </div>
        </div>
    </div>
</div>
