@import "./variables";

.card {
  background: $white;
  border-radius: 25px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  //padding: 0 1em 1em 1em;
}

.card > h2 {
  background-color: $yellow;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-left: 2%;
  padding-right: 2%;
  width: auto;
}

.button-card {
  background-color: $blue;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  //border: solid 1px $blue;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
}

.button-card:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.button-card:active {
  cursor: pointer;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
  radial-gradient(lighten($blue, 20%), transparent 70%);
  background-color: $blue;
}
