<div class="h-100 w-100 " id="gestionid">
    <div class="card container d-flex my-5 d-flex justify-self-center" id="gestionidcard">
        <nav class="navbar justify-content-between">
            <div>
                <a class="navbar-brand" routerLink="../../">Gestion Comptes</a>
                <span class="navbar-brand">Suivi</span>
            </div>
            <div class="d-flex row justify-content-end">
                <i class="bi bi-person col"></i>
                <a *ngIf="user !== null" class="col" routerLink="../../{{user.id}}">{{user.name}}</a>
            </div>
        </nav>
        <div class="row">
            <div class="">
                <div class="row-mx-2 d-flex flex-column justify-content-center epsilon">
                    <button (click)="goToGeneral()" class="btn btn-sm btn-light col">Général</button>
                    <button (click)="goToScores()" class="btn btn-sm btn-light col">Score</button>
                    <button class="btn btn-sm btn-light col" disabled>Suivi</button>
                </div>

            </div>
            <div class="container p-5">
                <table>
                    <thead>
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let el of elements">
                        <th scope="row">{{el.question}}</th>
                        <td>{{el.question}}</td>
                        <td>{{el.last}}</td>
                        <td>{{el.handle}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
