
#gestion > div {
  max-width: 85%;
  height: 70%;
}

#gestionidcard {
  width: 80%;
  max-width: unset;
}

#tableparent{
  //max-width: unset;
}


#theader {
  //try this :
  //https://css-tricks.com/restricting-a-pseudo-element-to-its-parents-border-box/
  background: linear-gradient(to bottom, #fef086, #fde635);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.4em 1em;
  width: 100%;
}

#trquestion{
  background-color: #FFFFFF;
  padding: 4px;
}

tbody{
  background-color: #DDDDDD;
}

.hide{
  display: none;
}

.showimage:hover + .hide {
  display: block;
  position:absolute;
  top: -100px;
  right:-40px;
}
