<div class="h-100 w-100 " id="gestionid">
    <div class="card container d-flex my-5 d-flex justify-self-center" id="gestionidcard">
        <nav class="navbar justify-content-between">
            <div>
                <a class="navbar-brand" routerLink="../../">Gestion Comptes</a>
                <span class="navbar-brand">Suivi</span>
            </div>
            <div class="d-flex row justify-content-end">
                <i class="bi bi-person col"></i>
                <a class="navbar-brand col" *ngIf="user !== null" routerLink="../../{{user.id}}">{{user.name}}</a>
            </div>
        </nav>
        <div class="row">
            <div class="">
                <div class="row-mx-2 d-flex flex-column justify-content-center epsilon">
                    <button (click)="goToGeneral()" class="btn btn-sm btn-light col">Général</button>
                    <button (click)="goToScores()" class="btn btn-sm btn-light col">Score</button>
                    <button class="btn btn-sm btn-light col" disabled>Suivi</button>
                </div>

            </div>
            <div id="tableparent" class="d-flex justify-content-center flex-column  col-10 w-100 h-100 p-2 m-2">
                <table class="table-responsive-lg text-center w-100">
                    <thead id="theader">
                    <tr>
                        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="trquestion" class="" *ngFor="let el of quizHistory">

                        <td class="text-left">{{el.name}}</td>
                        <td class="">{{el.stats.correct}}/{{el.stats.total}}</td>
                        <td class="">{{el.recap.correct}}/{{el.recap.total}}</td>
                        <td class="">
                            <div class="epsilon">
                                <button [ngClass]="user.ignoredQuestions.includes(el.id) ? 'btn-green' : 'btn-red'" (click)="enableDisableQuestion(el.id, user.ignoredQuestions.includes(el.id))"
                                        class="
                                        btn btn-xs">
                                    {{user.ignoredQuestions.includes(el.id) ? "Ajouter" : "Retirer"}}
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
