<div class="connexion flex-column">
    <div class="container">
        <div class="">
            <h1 class="d-flex justify-content-center">Polyquiz</h1>
            <div class="epsilon d-flex justify-content-center ">
                <button class="btn btn-bluejoel" routerLink="/creationcompte">Créer un compte</button>
            </div>
        </div>
    </div>
    <hr/>
    <p class="d-flex justify-content-center">Déj&agrave; inscrit ?</p>
    <div class="container">
        <div class="card mx-auto text-center" style="width: 450px">
            <div class="card-header"><h4 class="mb-0">Connexion</h4></div>

            <div class="card-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
                    <div class="form-group">
                        <label class="sr-only" for="username">Nom d'utilisateur</label>
                        <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus class="form-control" formControlName="username"
                               id="username" placeholder="Nom d'utilisateur" required type="text"
                               value="">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Nom d'utilisateur manquant</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="password">Mot de passe</label>
                        <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" formControlName="password" id="password"
                               placeholder="Mot de passe"
                               required
                               type="password"
                        >
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Mot de passe manquant</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input [formControlName]="'remember'" class="custom-control-input"
                                   id="remember" type="checkbox">
                            <label class="custom-control-label" for="remember">
                                Se souvenir de moi
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="epsilon d-flex justify-content-center ">
                            <button [disabled]="loading" class="btn btn-bluejoel">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Connexion
                            </button>
                        </div>

                    </div>

                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
