<div id="gestion" class="h-100">
    <div class="container card d-flex my-5">

        <nav class="navbar justify-content-between">
            <a class="navbar-brand" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Gestion Comptes</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <div id="comptes" class="container d-flex align-content-start flex-wrap col w-100 h-100 p-2 m-2">
            <div *ngFor="let user of users" routerLink="/gestion/{{user.id}}"
                 class="compte container card row d-flex justify-content-center">
                <div class="d-flex flex-column row align-items-center">
                    <i class="bi bi-person "></i>
                    <p class="">
                        {{user.name}}
                    </p>

                </div>
                <!--<p>
                    {{userRoleStr[user.role]}}
                </p>
                <p>
                    {{user.highcontrast ? "Contraste élevé" : "Contraste normal"}}
                </p>-->
            </div>
        </div>
    </div>
</div>
