<div class="header d-flex justify-content-between " *ngIf="user != null">

    <div class="epsilon p-2">
        <button class="btn btn-xs" [ngClass]="user.highContrast ? 'btn-greencontrast' : 'btn-green'" (click)="accueil()">
            <i class="bi-house"></i>
            <span>Retour à l'accueil</span>
        </button>
    </div>
    <div class="epsilon p-2">
        <button class="btn btn-xs" [ngClass]="user.highContrast ? 'btn-redcontrast' : 'btn-red'"  (click)="deconnexion()">
            <i class="bi-power"></i>
            <span>Déconnexion</span>
        </button>
    </div>

    <div class="epsilon ml-auto p-2 d-flex align-items-center">
        <button class="btn btn-xs" [ngClass]="user.highContrast ? 'btn-greencontrast' : 'btn-green'" (click)="toggleParams()">
            <i class="bi-file-earmark-font"></i>
            <span>Taille et Police</span>
        </button>

        <div id="visualParams" class="flex-column justify-content-between"
             [style.visibility]="paramsShow ? 'visible' : 'hidden'"
             [style.opacity]="paramsShow ? 1 : 0"
        >
            <div id="visualParamsOptions" class="d-flex flex-column">
                <div class="d-flex option align-items-center">
                    <label for="favoriteFont" class="paramLabel">Police : </label>
                    <select name="favoriteFont" id="favoriteFont" [formControl]="favoriteFont"
                            (change)="changeFont($event)">
                        <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
                    </select>
                </div>

                <div id="fontSize" class="d-flex flex-row align-items-center option">
                    <span class="paramLabel">Taille : </span>
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-light" style="font-size: 1em" (click)="changeFontSize(true)">A</button>
                        <span style="font-size: .9em">Agrandir</span>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="font-size: .8em">
                        <button class="btn btn-light" (click)="changeFontSize(false)">A</button>
                        <span>Rétrécir</span>
                    </div>
                </div>
            </div>

            <div class="d-flex align-self-center" >
                <button id="closeParams" class="btn btn-light" (click)="toggleParams()">Fermer</button>
            </div>

        </div>
    </div>
</div>
