@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  background-color: #FFFFFF;
}

.header {
  font-size: 1em;
  background: #FFFFFF;
  padding: 0.2em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);


  button {
    padding-top: 0.7em;
    padding-left: 0.8em;
    padding-right: 1em;
    display: flex;
    align-items: center;

    i {
      padding-top: 0.1em;
    }

    i:before {
      font-size: 150%;
      font-weight: bold !important;
    }

    span {
      padding-left: 0.6em;
    }
  }
}

#visualParams {
  display: flex;
  position: absolute;
  top: 4em;
  right: 1em;
  padding: 1em;
  background: white;
  border-radius: 1.1em;
  border: solid grey .01em;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, .2) 0 .1em .4em;
  transition: all 0.2s ease-in-out;
}

#visualParams button {
  margin: 0 1.1em .5em 1.1em;
  border-radius: .7em;
  justify-content: center;
  padding: .3em .7em;
  width: fit-content;
}

#visualParams #closeParams {
  margin-top: 1.5em;
  font-size: .9em;
}

#visualParams .option {
  margin-bottom: .8em;
}

.paramLabel {
  font-weight: 600;
}

select {
  padding-left: .4em;
}

label {
  margin: 0;
}

#changeHeaderContrastedMode {

  transform: scale(2);
}
