<div *ngIf="user != null" class="header d-flex justify-content-between">

    <div class="epsilon p-2">
        <button (click)="accueil()" [ngClass]="user.highContrast ? 'btn-greencontrast' : 'btn-green'"
                class="btn btn-xs">
            <i class="bi-house"></i>
            <span>Retour à l'accueil</span>
        </button>
    </div>
    <div class="epsilon p-2">
        <button (click)="deconnexion()" [ngClass]="user.highContrast ? 'btn-redcontrast' : 'btn-red'"
                class="btn btn-xs">
            <i class="bi-power"></i>
            <span>Déconnexion</span>
        </button>
    </div>

    <div class="epsilon ml-auto p-2 d-flex align-items-center">
        <button (click)="toggleParams()" [ngClass]="user.highContrast ? 'btn-greencontrast' : 'btn-green'"
                class="btn btn-xs">
            <i class="bi-file-earmark-font"></i>
            <span>Taille, Police, Contraste</span>
        </button>

        <div [style.opacity]="paramsShow ? 1 : 0" [style.visibility]="paramsShow ? 'visible' : 'hidden'"
             class="flex-column justify-content-between"
             id="visualParams"
        >
            <div class="d-flex flex-column" id="visualParamsOptions">
                <div class="d-flex option align-items-center">
                    <label class="paramLabel" for="favoriteFont">Police : </label>
                    <select (change)="changeFont($event)" [formControl]="favoriteFont" id="favoriteFont"
                            name="favoriteFont">
                        <option *ngFor="let font of fonts" [value]="font">{{font}}</option>
                    </select>
                </div>

                <div class="d-flex flex-row align-items-center option" id="fontSize">
                    <span class="paramLabel">Taille : </span>
                    <div class="d-flex flex-column align-items-center">
                        <button (click)="changeFontSize(true)" class="btn btn-light" style="font-size: 1em">A</button>
                        <span style="font-size: .9em">Agrandir</span>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="font-size: .8em">
                        <button (click)="changeFontSize(false)" class="btn btn-light">A</button>
                        <span>Rétrécir</span>
                    </div>
                </div>
            </div>

            <div>
                <label for="changeHeaderContrastedMode">
                    <span class="paramLabel">Mode contrasté :&nbsp;</span>
                    <input (change)="changeContrastedMode()" [checked]="isContrastedChecked$ | async" id="changeHeaderContrastedMode"
                           type="checkbox">
                </label>
            </div>

            <div class="d-flex align-self-center">
                <button (click)="toggleParams()" class="btn btn-light" id="closeParams">Fermer</button>
            </div>

        </div>
    </div>
</div>
