<div class="header d-flex justify-content-between ">


    <div class="epsilon p-2">
        <button class="btn btn-xs btn-green" (click)="accueil()">
            <i class="bi-alarm"></i>
            Retour à l'accueil
        </button>
    </div>
    <div class="epsilon p-2">
        <button class="btn btn-xs btn-tertiary" (click)="deconnexion()">
            <i class="bi-power"></i>
            Déconnexion
        </button>
    </div>

    <div class="epsilon ml-auto p-2">
        Changer la taille de police
        <button class="btn btn-xs btn-green" (click)="changeFont(true)"> +-+ (Augmenter)</button>
        <button class="btn btn-xs btn-green" (click)="changeFont(false)"> ---- (Diminuer)</button>
    </div>
</div>
