<div id="creationquizfirststep">
    <form [formGroup]="creationQuizFirstStepForm">
        <p>
            <label for="nomquiz">
                Nom du quiz<br>
                <input type="text" [formControlName]="'nomquiz'" id="nomquiz"/>
            </label>
        </p>
        <p>
            <label for="difficulte">
                Difficulté<br>
                <select [formControlName]="'difficulte'" id="difficulte">
                    <option *ngFor="let c of listDifficulte; let i=index" [ngValue]="i">{{c}}</option>
                </select>
            </label>
        </p>
        <p>
            <label for="theme">
                Thème<br>
                <select [formControlName]="'theme'" id="theme">
                    <option *ngFor="let c of listThemes; let i=index" [ngValue]="i">{{c.name}}</option>
                </select>
            </label>
            <button (click)="creerTheme=!creerTheme;">Créer un thème</button>
        </p>
        <div *ngIf="creerTheme">
            <p>
                <label for="nomnouveautheme">
                    Nom du thème<br>
                    <input type="text" [formControlName]="'nomnouveautheme'" id="nomnouveautheme"/>
                </label>
                <button (click)="ajouterTheme()">Ajouter le thème</button>
            </p>
        </div>
    </form>
    <div *ngFor="let question of questionsToAdd; let i=index">
        <p>
            Label:<br/>
            <input type="text" (change)="changeField(i, 'label', $event.target['value'])" value="{{question.label}}"/>
        </p>
        <p>
            Image:<br/>
            <input type="url" (change)="changeField(i, 'image', $event.target['value'])" value="{{question.image}}"/>
        </p>
        <p class="col">
            Difficulté<br/>
            <select (change)="changeField(i, 'difficulty', +$event.target['value'])">
                <option *ngFor="let c of [1, 2, 3, 4, 5]" [ngValue]="c">{{c}}</option>
            </select>
        </p>
    </div>
    <button (click)="addQuestion()">Ajouter une question</button>
</div>
