@import './styles/variables.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import 'styles/button/main';
@import "assets/fonts.css";

/* You can add global styles to this file, and also import other style files */
html {
  font-family:  Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: $app-background-color;
  height: 100vh;
}

html, body {
  height: 100%;
  overflow: hidden;
}

app-root > div {
  height: 100%;
}

button[disabled] {
  cursor: not-allowed !important;
}

.btn.disabled, .btn:disabled {
  opacity: 0.35;
}
