.repondufaux {
  color: red;
}

.repondujuste {
  color: green;
}

.pasrepondu {
  color: blue;
}

.labelQuestion {
  font-weight: bold;
}

#gestion > div {
  max-width: 85%;
  height: 70%;
}

#gestionidcard {
  width: 80%;
  max-width: unset;
}

.form-filter-scores {
}
