<div id="gestionid" class="h-100 w-100 ">
    <div id="gestionidcard" class="card container d-flex my-5 d-flex justify-self-center">
        <nav class="navbar justify-content-between">
            <div>
                <a class="navbar-brand" routerLink="../../">Gestion Comptes</a>
                <span class="navbar-brand">Tous les Quizzes</span>
            </div>
            <div class="d-flex row justify-content-end">
                <i class="bi bi-person col"></i>
                <a class="col" routerLink="../../{{user.id}}">{{user.name}}</a>
            </div>
        </nav>
        <div class="row">
            <div class="">
                <div class="row-mx-2 d-flex flex-column justify-content-center epsilon">
                    <button class="btn btn-sm btn-light col" (click)="goToGeneral()">Général</button>
                    <button class="btn btn-sm btn-light col" disabled>Quizzes</button>
                    <button class="btn btn-sm btn-light col">Score</button>
                    <button class="btn btn-sm btn-light col">Suivi</button>
                    <button class="btn btn-sm btn-light col">Paramètres</button>
                </div>
            </div>
            <div class="container d-flex justify-content-center flex-column  col-10 w-100 h-100 p-2 m-2">
                <div class="container p-5">


                    <div class="epsilon" *ngIf="quiz===null">
                        <!--- Afficher tous les quizs si aucun quiz n'est selectionne (quiz = null) --->
                        <button class="btn btn-sm btn-yellow" *ngFor="let q of quizList" (click)="setQuiz(q.id)">
                            {{q.name}}
                        </button>
                    </div>

                    <div *ngIf="quiz!==null"> <!--- Si un quiz est selectionne --->
                        <div class="epsilon">

                        <button class="btn btn-sm btn-yellow" (click)="resetQuiz()">Cacher</button> <!--- Deselectionner le quiz --->
                        </div>

                        <div class="card m-2 p-2" *ngFor="let question of quiz.questions; let i=index">
                            <div class="epsilon">
                                <button class="btn btn-sm btn-red" (click)="enableDisableQuestion(question.id, user.ignoredQuestions.includes(question.id))">{{user.ignoredQuestions.includes(question.id) ? "Activer la question" : "Désactiver la question"}}</button>
                            </div>
                            <!--- Pour chaque question du quiz selectionne --->
                            <div class="labelQuestion">
                                {{question.label}} <!--- Affiche la question --->
                                <!--- Activer ou desactiver le quiz --->
                            </div>

                            <div *ngIf="question.image !== null"> <!--- Si l'image existe, l'afficher --->
                                <img [src]="question.image"/>
                            </div>

                            <p>Réponse attendue : {{question.answers[question.correctAnswer]}}</p>
                            <!--- La reponse attendue --->
                            <div class="epsilon d-flex justify-content-between">
                                <span class="align-self-center">Réponses de {{user.name}}:</span>
                                <button class="btn btn-yellow btn-sm"
                                        (click)="resultsDisplayed[i]=!resultsDisplayed[i]">{{resultsDisplayed[i] ? "Masquer" : "Afficher"}}</button>
                            </div>
                            <!--- Afficher / masquer la question --->

                            <div *ngIf="resultsDisplayed[i]"> <!--- Si on affiche la question --->
                                <div *ngFor="let a of attempts"> <!--- Pour chacune des tentatives sur ce quiz --->
                                    <!--- S'il a repondu (ie la question n'etait pas desactivee), reponse != -1 --->
                                    <div *ngIf="a.answers[i].valueOf() !== -1"
                                         [className]="(question.correctAnswer.valueOf() == (a.answers[i]).valueOf()) ? 'repondujuste' : 'repondufaux'">
                                        <!--- Met la bonne couleur en fonction de la reponse donnee --->
                                        Répondu "{{question.answers[a.answers[i]]}}"
                                        le {{a.createdAt | date:'dd MMMM YYYY HH:mm'}}
                                        <!--- Quelle reponse donnee, a quelle heure --->
                                    </div>
                                </div>
                                <div *ngIf="attempts.length === 0" class="pasrepondu">
                                    <!--- Aucune tentative de la personne agee --->
                                    N'a pas encore répondu
                                </div>

                                <hr/>
                                <span class="align-self-center">Récap de {{user.name}}:</span>
                                <div *ngFor="let r of recaps"
                                     [className]="r.answers[i] ? 'repondujuste' : 'repondufaux'">
                                    <!--- Pour chaque recap --->
                                    Répondu {{r.answers[i] ? "VRAI" : "FAUX"}} au recap
                                    <!--- Qu a t il repondu au recap, a quelle heure --->
                                    le {{r.createdAt | date:' dd MMMM YYYY HH:mm:ss'}}
                                </div>
                                <div *ngIf="recaps.length === 0" class="pasrepondu"> <!--- N'a pas fait ce recap --->
                                    N'a pas fait de recap
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
