<div class="h-100 w-100 " id="gestionid">
    <div class="card container d-flex my-5 d-flex justify-self-center" id="gestionidcard">
        <nav class="navbar justify-content-between">
            <div>
                <a class="navbar-brand" routerLink="../../">Gestion Comptes</a>
                <span class="navbar-brand">Score</span>
            </div>
            <div class="d-flex row justify-content-end">
                <i class="bi bi-person col"></i>
                <a class="navbar-brand col" *ngIf="user !== null" routerLink="../../{{user.id}}">{{user.name}}</a>
            </div>
        </nav>
        <div class="row">
            <div class="">
                <div class="row-mx-2 d-flex flex-column justify-content-center epsilon">
                    <button (click)="goToGeneral()" class="btn btn-sm btn-light col">Général</button>
                    <button class="btn btn-sm btn-light col" disabled>Score</button>
                    <button (click)="goToSuivi()" class="btn btn-sm btn-light col">Suivi</button>
                </div>
                <div *ngIf="quiz !== null" class="form-filter-scores">
                    <form (change)="changeScoresDisplayedDateHours()" [formGroup]="changeFilterScores">
                        <b>Trier par dates</b>
                        <br/>
                        <label for="scoresformdatedebut">
                            Date de début:<br/>
                            <input [formControlName]="'scoresformdatedebut'" id="scoresformdatedebut" type="date">
                        </label>
                        <br/>
                        <label for="scoresformdatefin">
                            Date de fin:<br/>
                            <input [formControlName]="'scoresformdatefin'" id="scoresformdatefin" type="date">
                        </label>
                        <br/>
                        <b>Trier par plages horaires</b>
                        <br/>
                        <label for="scoresformheuredebut">
                            Heure de début:<br/>
                            <input [formControlName]="'scoresformheuredebut'" id="scoresformheuredebut" type="time">
                        </label>
                        <br/>
                        <label for="scoresformheurefin">
                            Heure de fin:<br/>
                            <input [formControlName]="'scoresformheurefin'" id="scoresformheurefin" type="time">
                        </label>
                        <br/>
                        <input (click)="reset(changeFilterScores)" type="reset" value="Tout afficher">
                    </form>
                </div>
            </div>
            <div class="container d-flex justify-content-center flex-column  col-10 w-100 h-100 p-2 m-2">
                <div class="container p-5">


                    <div *ngIf="quiz===null" class="epsilon">
                        <!--- Afficher tous les quizs si aucun quiz n'est selectionne (quiz = null) --->
                        <button (click)="setQuiz(q.id)" *ngFor="let q of quizList" class="btn btn-sm btn-yellow">
                            {{q.name}}
                        </button>
                    </div>

                    <div *ngIf="quiz!==null"> <!--- Si un quiz est selectionne --->
                        <div class="epsilon">

                            <button (click)="resetQuiz()" class="btn btn-sm btn-yellow">Cacher</button>
                            <!--- Deselectionner le quiz --->
                        </div>

                        <div *ngFor="let question of quiz.questions; let i=index" class="card m-2 p-2">
                            <div class="epsilon">
                                <button (click)="enableDisableQuestion(question.id, user.ignoredQuestions.includes(question.id))"
                                        class="btn btn-sm btn-red">{{user.ignoredQuestions.includes(question.id) ? "Activer la question" : "Désactiver la question"}}</button>
                            </div>
                            <!--- Pour chaque question du quiz selectionne --->
                            <div class="labelQuestion">
                                {{question.label}} <!--- Affiche la question --->
                                <!--- Activer ou desactiver le quiz --->
                            </div>

                            <div *ngIf="question.image !== null"> <!--- Si l'image existe, l'afficher --->
                                <img [src]="question.image"/>
                            </div>

                            <p>Réponse attendue : {{question.answers[question.correctAnswer]}}</p>
                            <!--- La reponse attendue --->
                            <div class="epsilon d-flex justify-content-between">
                                <span class="align-self-center">Réponses de {{user.name}}:</span>
                                <button (click)="resultsDisplayed[i]=!resultsDisplayed[i]"
                                        class="btn btn-yellow btn-sm">{{resultsDisplayed[i] ? "Masquer" : "Afficher"}}</button>
                            </div>
                            <!--- Afficher / masquer la question --->

                            <div *ngIf="resultsDisplayed[i]"> <!--- Si on affiche la question --->
                                <div *ngFor="let a of attemptsDisplayed">
                                    <!--- Pour chacune des tentatives sur ce quiz --->
                                    <!--- S'il a repondu (ie la question n'etait pas desactivee), reponse != -1 --->
                                    <div *ngIf="a.answers[i] !== undefined && a.answers[i].valueOf() !== -1"
                                         [className]="(question.correctAnswer.valueOf() == (a.answers[i]).valueOf()) ? 'repondujuste' : 'repondufaux'">
                                        <!--- Met la bonne couleur en fonction de la reponse donnee --->
                                        Répondu "{{question.answers[a.answers[i]]}}"
                                        le {{a.createdAt | date:'dd MMMM YYYY HH:mm'}}
                                        <!--- Quelle reponse donnee, a quelle heure --->
                                    </div>
                                </div>
                                <div *ngIf="attemptsDisplayed.length === 0" class="pasrepondu">
                                    <!--- Aucune tentative de la personne agee --->
                                    N'a pas encore répondu
                                </div>

                                <hr/>
                                <span class="align-self-center">Récap de {{user.name}}:</span>
                                <div *ngFor="let r of recapsDisplayed"
                                     [className]="r.answers[i] ? 'repondujuste' : 'repondufaux'">
                                    <!--- Pour chaque recap --->
                                    Répondu {{r.answers[i] ? "VRAI" : "FAUX"}} au recap
                                    <!--- Qu a t il repondu au recap, a quelle heure --->
                                    le {{r.createdAt | date:' dd MMMM YYYY HH:mm:ss'}}
                                </div>
                                <div *ngIf="recapsDisplayed.length === 0" class="pasrepondu">
                                    <!--- N'a pas fait ce recap --->
                                    N'a pas fait de recap
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
