<div id="connecte" class="flex-column">
    <div class="container">
        <div class="d-flex justify-content-center flex-column col">

            <div class="epsilon">
                <button class="btn btn-secondary col" routerLink="/choisirquiz">Faire quiz
                </button>
                <div *ngIf="user.role !== 1">
                    <button class="btn btn-secondary col" routerLink="/score">Score</button>
                    <button class="btn btn-secondary col" routerLink="/editquiz">G&eacute;rer quiz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
