<div class="card">
    <h2>
        <!--        <i class="fab fa-leanpub"></i>-->
        <i *ngIf="quiz.theme === 'Sport'" class="fas fa-quidditch"></i>
        <i *ngIf="quiz.theme === 'Actor'" class="fas fa-video"></i>
        <i *ngIf="quiz.theme === 'Fun'" class="fas fa-laugh-squint"></i>
        Nom : {{quiz.name}}
    </h2>
    <p>
        <span>Theme: {{quiz.theme}}</span>
    </p>
    <p *ngIf="quiz.creationDate != null">
        {{quiz.creationDate | date}}
    </p>
    <p>
        {{quiz.questions.length}} question(s)
    </p>
    <button (click)="selectQuiz()" class="button-card">Select</button>
    <button (click)="deleteQuiz()" class="button-card">Delete</button>
    <nav>
        <a routerLink="/edit-quiz/{{quiz.id}}">Edit</a>
        <br>
        <a routerLink="/question-quiz/{{quiz.id}}">Quiz</a>
    </nav>
</div>
